@import 'ext/fonts';
@import 'ext/normalize';
@import 'syntax';

$linkColor: #C70039;
$mobileW: 768px;
$smallMobileW: 480px;
$bigScreenW: 1600px;
$leftWidth: 220px;

*,*:before,*:after {
	box-sizing: border-box;
}

html {
	overflow-y: scroll;
	height: 100%;
}

body {
	font-family: 'Prompt', sans-serif;;
	font-weight: 300;
	font-size: 16px;
	line-height: 1.2em;
	height: 100%;
	margin: 0;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	background-color: #fafafa;
}

img, embed, object, video {
	max-width: 100%;
}

a {
	color: #000;
	transition: color 0.2s;
	text-decoration: none;
	font-weight: 500;
	&:hover {
		text-decoration: none;
		color: $linkColor;
	}
}

h2 {
	margin: 0.7em 0;
}

header {
	.topbar {
		height: 54px;
		width: 100%;
		position: fixed;
		background-color: rgb(255, 255, 255);
		box-shadow: 0 1px 2px rgba(0,0,0,0.15);
		border-bottom: 1px solid #ebebeb;
		z-index: 400;
		top: 0;
		display: flex;
		-webkit-box-align: center;
		-ms-flex-align: center;
		align-items: center;
		-webkit-box-pack: center;
		justify-content: center;
	}

	.topbar-inner {
		width: 1169px;
		padding-left: 13px;
		padding-right: 13px;
	}

	.brand {
		float: left;
		margin-left: 53px;
		color: #c70039;
		a {
			vertical-align: -webkit-baseline-middle;
		}
		@media (max-width: 986px){
			margin-left: 0;
			line-height: 1.7;
		}
	}

	.btn-sidebar {
		display: none;
		background-color: transparent;
		border: none;
		@media (max-width: 986px){
			display: block;
			margin-left: auto !important;
			
		}
	}

	.search {
		border-radius: 20px/20px;
		margin:0;
		float: right;
		transition: width .5s ease-out;
		width: 100px;
		border: 1px solid lightgray;
		outline: none;
		padding-left: 10px;
		padding-right: 10px;
		background: url(/assets/images/baseline_search_black_18dp.png) no-repeat scroll 7px 4px;
		padding-left: 30px;
		z-index: 1000;
		display: block;
		&:focus {
			width: 300px;
		}
		@media (max-width: 986px){
			display: none;
			width: 90%;
		}
	}

	.topbar-links {
		float: right;
		display: block;
		margin-right: 30px;
		margin-left: 20px;
		@media (max-width: 986px){
			display: none;
		}
	}

	.topbar-link {
		vertical-align: -webkit-baseline-middle;
		padding-left: 7px;
	}

}

main {
	margin: 0 90px;
	display: flex;
	height: 100%;

	@media screen and (min-width: $bigScreenW) {
		margin: 0 auto;
		max-width: 1440px;	
	}
	@media screen and (max-width: 1280px) {
		margin: 0 75px;	
	}
	@media screen and (max-width: 1024px){
		margin: 0 35px;	
	}

	@media screen and (max-width: $mobileW) {
		margin: 0 10px;
		flex-direction: column;	
	}
	@media screen and (max-width: $smallMobileW) {
		margin: 0;	
	}

	.content {
		max-width: calc(100% - #{$leftWidth});
		margin-top: 54px;
		margin-left: 280px;;

		@media (max-width: 986px){
			max-width: 100%;	
			margin-left: 0;
			margin-top: 74px;
		}
	}

	.mostra-sidebar {
		left: 0px !important;
	}

	.about {
		display: flex;
		height: 100vh;
		padding-bottom: 5vh;
		position: fixed;
		background-color: #fafafa;
		transition: ease-out 300ms;
		margin-top: 54px;
		@media (max-width: 986px){
			left: -100%;
			width: 100%;
			box-shadow: 0 1px 2px rgba(0,0,0,0.15);
			border-right: 1px solid #ebebeb;
			z-index: 1000;
			margin-top: 0;
			align-items: center;
			justify-content: flex-start;
		}

		min-width: $leftWidth;
		justify-content: center;
		flex-direction: column;
		align-items: center;
		h2 {
			font-size: 22px;
			margin-top: 25px;
			margin-bottom: 0;
			color: #222222;
			font-weight: normal;
			@media (max-width: 986px) {
				font-size: 18px;
				margin-top: 10px;
			}
		}
		.tagline {
			font-size: 22px;
			margin-top: 17px;
			color: #aaa;
			@media (max-width: 986px) {
				margin-top: 7px;
				font-size: 16px;
			}
		}

		.about-img {
			max-width: 150px;
			display: block;
			@media (max-width: 986px) {
				max-width: 100px;
			}
		}

		.img-landsc {
			display: none;
		}

		.sidebar-links{
			display: none;
			padding-inline-start: 0px;
			
			@media (max-width: 986px) {
				display: flex;
				list-style-type: none;
				margin: 0;
			}
			a {
				text-decoration: none;
				padding-left: 5px;
				&:hover {
					color: $linkColor;
				}
			}
		}

		.site-content {
			margin: 45px 30px;
			@media (max-width: 986px){
				margin-left: 20px;
				margin-right: 20px;
			} 
		}

		.search-form {
			@media (max-width: 986px) {
				float: left;
				display: inline-block;
				width: 100%;
				padding-left: 10px;
				padding-right: 10px;
				padding-bottom: 4px;
				border-bottom: 1px solid lightgray;
			}
		}

		.search {
			border-radius: 20px/20px;
			margin:0;
			float: right;
			transition: width .5s ease-out;
			width: 100%;
			border: 1px solid lightgray;
			outline: none;
			padding-left: 10px;
			padding-right: 10px;
			background: url(/assets/images/baseline_search_black_18dp.png) no-repeat scroll 7px 4px;
			padding-left: 30px;
			z-index: 1000;
			display: none;

			@media (max-width: 986px){
				display: block;
			}
		}

		.container-about {
	
		}
	}

	.btn-close {
		display: none;
		background-color: transparent;
		color: black;
		font-weight: bolder;
		border: none;

		@media (max-width: 986px){
			display: block;
			margin-left: auto;
			margin-right: 10px;
			margin-top: 10px;
		}
	}
}

.container {
	@media (max-width: 768px) {
		max-width: 100%;
	}

	@media (max-width: 576px) {
    	max-width: 100%;
	}
}

@font-face {
	font-family: 'Material Icons';
	font-style: normal;
	font-weight: 400;
	src: url(/assets/font/MaterialIcons-Regular.eot); /* For IE6-8 */
	src: local('Material Icons'),
	  local('MaterialIcons-Regular'),
	  url(/assets/font/MaterialIcons-Regular.woff2) format('woff2'),
	  url(/assets/font/MaterialIcons-Regular.woff) format('woff'),
	  url(/assets/font/MaterialIcons-Regular.ttf) format('truetype');
}

.material-icons {
	font-family: 'Material Icons';
	font-weight: normal;
	font-style: normal;
	font-size: 24px;  /* Preferred icon size */
	display: inline-block;
	line-height: 1;
	text-transform: none;
	letter-spacing: normal;
	word-wrap: normal;
	white-space: nowrap;
	direction: ltr;
	transition: 0.1s;

  
	/* Support for all WebKit browsers. */
	-webkit-font-smoothing: antialiased;
	/* Support for Safari and Chrome. */
	text-rendering: optimizeLegibility;
  
	/* Support for Firefox. */
	-moz-osx-font-smoothing: grayscale;
  
	/* Support for IE. */
	font-feature-settings: 'liga';
}


.social {
	list-style-type: none;
	padding: 0;
	margin-top: 0;
	li {
		float: left;
		i {
			font-size: 34px;
			@media (max-width: 986px) {
				font-size: 20px;
			}
		}
	}
}

.post-categories {
	list-style-type: none;
	margin: 0;
	padding: 0;
	li {
		font-size: 11px;
		float: left;
		background-color: #E3E3E3;
		padding: 3px 10px;
		border-radius: 2px;
		@media screen and (max-width: $mobileW){
			margin-top: 5px;
		}
		margin-right: 10px;
	}
}

.read-more {
	float: right;
	text-transform: uppercase;
	&:hover {
		i {
			color: #c10039;
			transform: rotate(90deg);
		}
	}
}

.post-date {
	margin-right: 10px;
	color: #555;
}
.post-meta {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.post-img {
	width: 100%;
	margin-top: 10px;
}

.post-link {
	text-decoration: none;
}

.post-title {
	line-height: 1.2em;
	font-size: 28px;
}
.posts, .post-container {
	list-style-type: none;
	margin: 45px 30px;
	@media screen and (max-width: $smallMobileW){
		margin-left: 20px;
		margin-right: 20px;
	}
	@media screen and (max-width: $mobileW){
		padding: 0 !important;	
		margin-top: 0;
	}
}
.post-container {
	padding-left: 40px;
}
.post {
	font-family: 'Prompt', sans-serif;
	color: #222;
	line-height: 1.9em;
	a {
		color: $linkColor;
		text-decoration: none;
		transition: border-bottom 0.1s;
		&:hover {
			border-bottom: 0.5px solid $linkColor;
		}
	}
}

.no-posts {
	background-color: lightgray;
	width: 300px;
	height: 300px;
	border-radius: 50%/50%;
	line-height: 1;
	justify-content: center;
		flex-direction: column;
		align-items: center;
}

#posts-label {
	border-bottom: 1px solid #eee;
	font-size: 15px;
	color: #777;
	text-transform: uppercase;
	letter-spacing: 0.5px;
	padding-bottom: 10px;
	font-weight: normal;
}
