<!DOCTYPE html>
<html lang="en">
<head>
	{%- include head.html -%}
</head>
<body>
	<header>
		<nav id="topbar" class="topbar">
			<div class="topbar-inner">
				<div class="brand"><a href="/">Minimalist</a></div>
				<button type="button" onclick="mostraSidebar()" class="btn-sidebar">
					<i class="material-icons">menu</i>
				</button>
				
				<div class="topbar-links">
					<a href="#" class="topbar-link">Home</a>
					<a href="#" class="topbar-link">Sobre mim</a>
					<a href="#" class="topbar-link">Blog</a>
					<a href="#" class="topbar-link">Contato</a>
				</div>

				<form class="search-form">
					<input class="search" type="text">
				</form>

			</div>
		</nav>
	</header>
	<main class="container">
		<section class="about" id="about">
			<form class="search-form mt-1 mb-1">
				<input class="search" type="text">
			</form>

			<button type="button" onclick="fecharNavbar()" class="btn-close">
					<i class="material-icons">close</i>
			</button>
			<img class="about-img" src="{{ "/assets/mr.png" | relative_url }}" alt="{{ site.plainwhite.name }}" style="border-radius: 50%/50%">
			<h2>{{ site.plainwhite.name }}</h2>
			<p class="tagline">{{ site.plainwhite.tagline }}</p>
			<ul class="social">
				<a href="https://github.com/{{ site.plainwhite.social_links.github }}"><li><i class="icon-github-circled"></i></li></a>
				<a href="https://www.facebook.com/{{ site.plainwhite.social_links.facebook }}"><li><i class="icon-facebook-circled"></i></li></a>
				<a href="https://twitter.com/{{ site.plainwhite.social_links.twitter }}"><li><i class="icon-twitter-squared"></i></li></a>
			</ul>

			
			<ul class="sidebar-links">
				<li><a href="#" class="topbar-link">Home</a></li>
				<li><a href="#" class="topbar-link">Sobre mim</a></li>
				<li><a href="#" class="topbar-link">Blog</a></li>
				<li><a href="#" class="topbar-link">Contato</a></li>
			</ul>
		

			<p>&copy; 2019</p>
		</section>
		<section class="content">
			{{ content }}
		</section>
	</main>

	{%- if site.plainwhite.analytics_id -%}
	
	<script async src="https://www.googletagmanager.com/gtag/js?id={{ site.plainwhite.analytics_id }}"></script>
	<script>
		window.dataLayer = window.dataLayer || [];
		function gtag() { dataLayer.push(arguments); }
		gtag('js', new Date());

		gtag('config', '{{ site.plainwhite.analytics_id }}');
	</script>
	{%- endif -%}

	<script>
		let sidebar = document.getElementById('about');

		function mostraSidebar() {
			if(sidebar.classList.contains('mostra-sidebar')) {
				fecharNavbar();
			} else {
				sidebar.classList.add('mostra-sidebar');
			}
		}

		function fecharNavbar() {
			sidebar.classList.remove('mostra-sidebar');
		}

		window.addEventListener('mouseup', function(event){
			if(event.target != sidebar) {
				fecharNavbar();
			}
		});

	</script>

</body>
</html>
