<!DOCTYPE html>
<html lang="en">
<head>
	{%- include head.html -%}
</head>
<body>
	<header>
		<nav id="topbar" class="topbar">
			<div class="topbar-inner">
				<div class="brand"><a href="/" style="color: #c70039"><i class="material-icons" style="vertical-align: middle;">
						developer_mode
						</i> Minimalist</a></div>
				<button type="button" onclick="mostraSidebar()" class="btn-sidebar">
					<i class="material-icons">menu</i>
				</button>
				
				<div class="topbar-links">
					<a href="#" class="topbar-link">Home</a>
					<a href="#" class="topbar-link">Sobre mim</a>
					<a href="#" class="topbar-link">Blog</a>
					<a href="#" class="topbar-link">Contato</a>
				</div>

				<form class="search-form" action="/search.html" method="get">
					<input class="search search-box" type="text" name="query">
				</form>

			</div>
		</nav>
	</header>
	<main class="container">
		<section class="about" id="about">
			<form class="search-form mt-1 mb-1" id="search" action="/search.html" method="get">
				<input type="text" class="search search-box"  name="query">
			</form>

			<button type="button" onclick="fecharNavbar()" class="btn-close">
					<i class="material-icons">close</i>
			</button>

			<img class="about-img" id="about-img" src="{{ "/assets/mr.png" | relative_url }}" alt="{{ site.plainwhite.name }}" style="border-radius: 50%/50%">
			<h2 style="color: #c70039">{{ site.plainwhite.name }}</h2>
			<p class="tagline">{{ site.plainwhite.tagline }}</p>

			<ul class="social" id="social">
				<a href="https://github.com/{{ site.plainwhite.social_links.github }}" style="color: #c70039"><li><i class="icon-github-circled"></i></li></a>
				<a href="https://www.facebook.com/{{ site.plainwhite.social_links.facebook }}" style="color: #c70039"><li><i class="icon-facebook-circled"></i></li></a>
				<a href="https://twitter.com/{{ site.plainwhite.social_links.twitter }}" style="color: #c70039"><li><i class="icon-twitter-squared"></i></li></a>
			</ul>

			
			<ul class="sidebar-links">
				<li><a href="#" class="topbar-link"><i class="material-icons">search</i></a></li>
				<li><a href="#" class="topbar-link">Home</a></li>
				<li><a href="#" class="topbar-link">Sobre mim</a></li>
				<li><a href="#" class="topbar-link">Blog</a></li>
			</ul>
		

			<p>&copy; 2019</p>
		</section>
		<section class="content">
			{{ content }}
		</section>
	</main>

	{%- if site.plainwhite.analytics_id -%}
	
	<script async src="https://www.googletagmanager.com/gtag/js?id={{ site.plainwhite.analytics_id }}"></script>
	<script>
		window.dataLayer = window.dataLayer || [];
		function gtag() { dataLayer.push(arguments); }
		gtag('js', new Date());

		gtag('config', '{{ site.plainwhite.analytics_id }}');
	</script>
	{%- endif -%}

	<script>
		let sidebar = document.getElementById('about');

		function mostraSidebar() {
			if(sidebar.classList.contains('mostra-sidebar')) {
				fecharNavbar();
			} else {
				sidebar.classList.add('mostra-sidebar');
			}
		}

		function fecharNavbar() {
			sidebar.classList.remove('mostra-sidebar');
		}

		/*
		let search = document.getElementById('search');
		let social = document.getElementById('social');
		window.addEventListener('touchstart', function(event){
			if(event.target != sidebar && event.target.parentNode != sidebar && event.target.parentNode != search && event.target.parentNode != social) {
				fecharNavbar();
			}
		});*/

	</script>

</body>
</html>
